server:
  port: 8801

spring:
  application:
    name: cloud-stream-rabbit-provider

  cloud:
    stream:
      # 配置需要绑定的RabbitMQ服务信息
      binders:
        # 定义的名称, 用于bingding整合
        defaultRabbit:
          # 消息组件类型
          type: rabbit
          # 相关环境
          environment:
            spring:
              rabbitmq:
                host: localhost
                port: 5672
                username: guest
                password: guest
      # 服务的整合处理
      bindings:
        # 这个名字是一个通道的名称
        output:
          # 表示要使用的Exchange名称定义
          destination: studyExchange
          # 设置消息类型，本次为json，文本则设置“text/plain”
          contentType: application/json
          # 设置要绑定的消息服务的具体设置
          binder: defaultRabbit




