server:
  port: 7001

eureka:
  # eureka的服务地址
  instance:
    hostname: localhost
  client:
    # false表示不向注册中心注册本身
    register-with-eureka: false
    # false表示自己端就是注册中心, 职责就是维护服务实例, 并不需要去检索服务
    fetch-registry: false
    service-url:
      # 设置与Eureka Server交互的地址. 查询服务和注册服务都需要依赖这个地址. 实际上就是Eureka Server服务端的地址.
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/


